/* Gallery */
.slideshow-slides {
    margin: 30px auto;
}

.slideshow-slide figcaption {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
}

.slideshow-nav {
    position: relative;
    min-height: 1px;
}

.slideshow-nav .previous {
    float: left;
}

.slideshow-nav .next {
    float: right;
}

/*----------------------------------- Media Queries */
@media only screen and ( min-width: 1360px ) {

}

@media only screen and ( min-width: 720px ) and ( max-width: 960px ) {

}

@media only screen and ( max-width: 720px ) {

}